<div class="w-500px">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <span
      [inlineSVG]="'./assets/media/icons/duotune/general/gen044.svg'"
      class="svg-icon svg-icon-danger svg-icon-5x mx-3"
    ></span>
    <h1 mat-dialog-title class="fs-1 text-danger mb-0">{{ data.title }}</h1>
    <div mat-dialog-content class="mat-typography fs-5 text-muted">
      {{ data.message }}
    </div>
    <mat-dialog-actions align="end" class="mt-10">
      <button mat-button mat-dialog-close class="btn btn-danger me-4 w-100px">
        No, Cancel
      </button>
      <button
        mat-button
        [mat-dialog-close]="true"
        class="swal2-confirm btn btn-success w-100px"
      >
        Yes, Sure
      </button>
    </mat-dialog-actions>
  </div>
</div>
