<div class="card card-bordered h-100">
  <div
    class="card-header d-flex justify-content-between align-items-center border-0 h-70px mh-70px"
  >
    <!--begin::Page title-->
    <div class="d-flex">
      <button
        type="button"
        (click)="close()"
        class="btn btn-flex ps-2 pe-0 btn-sm btn-dark me-4"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
          class="svg-icon svg-icon-3"
        ></span>
      </button>
      <!--begin::Title-->
      <h1
        class="page-heading flex-column d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0 text-capitalize"
      >
        Fields Settings
        <span class="text-muted fs-7 fw-normal mt-2"
          >(47-7) ATL_GDB - Insert to - AssetType1
        </span>
      </h1>
      <!--end::Title-->
    </div>
    <!--begin::Primary button-->
    <div class="d-flex">
      <a
        class="btn btn-icon btn-sm btn-light-secondary btn-color-gray-800 me-2"
        placement="left"
        ngbTooltip="Filter"
        (click)="filterClicked = !filterClicked"
      >
        <span class="svg-icon svg-icon-2"> <i class="fa fa-filter"></i></span>
        <!--end::Svg Icon-->
      </a>
      <!-- <a
            class="btn btn-icon btn-sm btn-bg-light btn-active-color-dark me-2"
            placement="top"
            ngbTooltip="Sort"
          >
            <span class="svg-icon svg-icon-2">
              <i class="fa fa-arrow-up-a-z"></i
            ></span>

          </a> -->
      <a
        class="btn btn-icon btn-sm btn-light-secondary btn-color-gray-800"
        (click)="openAutoMap()"
        placement="left"
        ngbTooltip="Auto Map"
      >
        <span class="svg-icon svg-icon-2"> <i class="fa fa-robot"></i></span>
        <!--end::Svg Icon-->
      </a>
    </div>

    <!--end::Primary button-->

    <!--end::Page title-->
  </div>
  <div class="card-body py-3 pe-4" style="height: calc(100% - 200px)">
    <div class="d-flex justify-content-between flex-column h-100">
      <div class="h-100 overflow-auto">
        <div class="py-3 h-lg-80px mh-lg-80px w-lg-50" *ngIf="filterClicked">
          <label for="filterFieldName" class="form-label"
            >Filter with Field Name</label
          >
          <input
            class="form-control form-control-sm"
            id="filterFieldName"
            placeholder="Field name"
            type="text"
            formControlName="filterFieldName"
          />

          <!-- <div class="col-3 form-group">
          <label for="status" class="form-label">Status</label>
          <select
            id="status"
            class="form-select form-control input-sm"
            formControlName="status"

          >
            <option [value]="0" selected>All</option>
            <option [value]="1">Mapped</option>
            <option [value]="2">Not Mapped</option>
          </select>
        </div> -->
        </div>
        <form [formGroup]="fieldMapForm">
          <input type="hidden" formControlName="selectedField" />
          <div *ngIf="selectedField?.invalid">
            <div
              class="text-danger"
              *ngIf="selectedField?.errors?.['required']"
            >
              You should map at least one field.
            </div>
          </div>
          <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed align-top gs-0 gy-3 my-0">
              <!--begin::Table head-->
              <thead>
                <tr class="fs-7 fw-bold text-dark">
                  <th class="min-w-25">
                    <h1
                      class="page-heading flex-column d-flex text-dark fw-bold fs-4 flex-column justify-content-center my-0"
                    >
                      Destination
                      <span class="text-muted fs-7 fw-normal mt-2"
                        >Utility Network Model
                      </span>
                    </h1>
                  </th>
                  <th class="min-w-75">
                    <h1
                      class="page-heading flex-column d-flex text-dark fw-bold fs-4 flex-column justify-content-center my-0"
                    >
                      Source
                      <span class="text-muted fs-7 fw-normal mt-2"
                        >Select Field from Source Data
                      </span>
                    </h1>
                  </th>
                </tr>
              </thead>
              <!--end::Table head-->

              <!--begin::Table body-->
              <tbody formArrayName="fieldMapFormArray">
                <tr
                  *ngFor="
                    let fieldMapRecordForm of formArr$ | async;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <td>
                    <span
                      class="text-gray-800 fw-bold fs-6 d-flex align-items-center"
                    >
                      <i
                        *ngIf="fieldMapRecordForm.get('isMapped')?.value"
                        class="fa fa-check-circle text-success me-4"
                      ></i>

                      <i
                        *ngIf="!fieldMapRecordForm.get('isMapped')?.value"
                        class="fa fa-check-circle text-secondary me-4"
                      ></i>
                      <input
                        formControlName="destinationFieldName"
                        class="form-control-plaintext p-0 fs-5 fw-bold"
                        id="basic-addon1"
                    /></span>
                  </td>

                  <td class="field-item">
                    <div class="d-flex">
                      <select
                        class="form-select form-select-sm"
                        aria-label="type"
                        formControlName="sourceFieldName"
                        (change)="handleSelectSourceFiled(fieldMapRecordForm)"
                      >
                        <option [value]="null">Select Field</option>
                        <option
                          *ngFor="let dataSourceField of dataSourceFields"
                          [value]="dataSourceField.name"
                        >
                          {{ dataSourceField.name }}
                        </option>
                      </select>
                      <a
                        class="btn btn-icon btn-bg-secondary btn-color-gray-800 btn-sm ms-4"
                        data-kt-menu-trigger="click"
                        data-kt-menu-placement="bottom-end"
                        placement="left"
                        ngbTooltip="Quick Actions"
                      >
                        <i class="fa-solid fa-ellipsis-vertical fs-3"></i>
                      </a>
                      <div
                        class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light fw-semibold w-200px py-4"
                        data-kt-menu="true"
                      >
                        <div class="menu-item px-4">
                          <a
                            class="menu-link px-4 btn btn-sm btn-active-light text-hover-primary"
                            (click)="openReplacementFilter(fieldMapRecordForm)"
                          >
                            <span class="svg-icon svg-icon-3">
                              <i class="fa-solid fa-table"></i>
                            </span>
                            Replacement Rules</a
                          >
                        </div>
                        <div class="menu-item px-4">
                          <a
                            class="menu-link px-4 btn btn-sm btn-active-light text-hover-primary"
                            (click)="openStaticValue(fieldMapRecordForm)"
                          >
                            <span class="svg-icon svg-icon-3">
                              <i class="fa-solid fa-hashtag"></i>
                            </span>
                            Set to Static Value</a
                          >
                        </div>
                        <div class="menu-item px-4">
                          <a
                            class="menu-link px-4 btn btn-sm btn-active-light text-hover-primary"
                            (click)="setNull(fieldMapRecordForm)"
                          >
                            <span class="svg-icon svg-icon-3">
                              <i class="fa-solid fa-node"></i>
                            </span>
                            Set to Null</a
                          >
                        </div>
                      </div>
                    </div>
                    <label
                      *ngIf="fieldMapRecordForm.get('isNull')?.value === true"
                      class="text-muted my-2"
                      >is Null</label
                    >

                    <label
                      *ngIf="fieldMapRecordForm.get('staticValue')?.value"
                      class="text-muted my-2"
                      ><span>Static Value is :</span>
                      {{ fieldMapRecordForm.get("staticValue")?.value }}</label
                    >
                    <label
                      *ngIf="
                        fieldMapRecordForm.get('replacementFilters')?.value
                          ?.length > 0
                      "
                      class="text-muted my-2"
                      ><span>Replacement Rule is : "Has Rule"</span>
                    </label>

                    <!--
                <table
                  id="kt_datatable_zero_configuration"
                  class="table align-middle table-row-dashed fs-6 gy-4 mb-0"
                >
                  <thead>
                    <tr class="fw-semibold fs-6 text-muted">
                      <th class="min-w-md-125px">Replace</th>
                      <th class="min-w-md-125px">With</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let replacementFilter of   <[]>fieldMapRecordForm.get("replacementFilters")?.value ">
                      <td>{{ replacementFilter.replace }}</td>
                      <td>{{ replacementFilter.with }}</td>
                    </tr>
                  </tbody>
                </table> -->
                  </td>
                </tr>
              </tbody>
              <!--end::Table body-->
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer py-5 h-70px mh-70px text-end">
    <button
      type="button"
      class="btn btn-sm btn-secondary me-2"
      (click)="delete()"
      [disabled]="!this.fieldMapsRequest.mapRecordFieldMaps.fieldMapsJson"
    >
      <span>Delete</span>

      <!-- <span [ngClass]="deleting ? 'inprogress' : ''">Delete</span> -->
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary me-2"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-sm btn-dark"
      [disabled]="!fieldMapForm.valid || saving"
      (click)="save()"
    >
      <span [ngClass]="saving ? 'inprogress' : ''">Save Changes</span>
    </button>
  </div>
</div>

<app-replacement-filter
  #replacementFilterComponent
  (popupClosed)="onPopupClosed()"
></app-replacement-filter>
<app-static-value
  #staticValueComponent
  (popupClosed)="onPopupClosed()"
></app-static-value>
<app-auto-map #autoMapComponent (popupClosed)="onPopupClosed()"></app-auto-map>
