<ng-template let-modal #autoMapTemplate>
  <div class="card shadow-sm">
    <div class="card-header">
      <h3 class="card-title">Auto Mapping</h3>
      <div class="card-toolbar">
        <!--begin::Close-->
        <div
          class="btn btn-icon btn-sm btn-active-light ms-2"
          (click)="close()"
        >
          <span class="svg-icon svg-icon-muted svg-icon-1"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                opacity="0.5"
                x="7.05025"
                y="15.5356"
                width="12"
                height="2"
                rx="1"
                transform="rotate(-45 7.05025 15.5356)"
                fill="currentColor"
              />
              <rect
                x="8.46447"
                y="7.05029"
                width="12"
                height="2"
                rx="1"
                transform="rotate(45 8.46447 7.05029)"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="autoMapForm">
        <div class="form-check form-check-custom form-check-solid mb-4">
          <input
            class="form-check-input"
            type="checkbox"
            value="1"
            id="matchCase"
            formControlName="matchCase"
          />
          <label class="form-check-label" for="matchCase"> Match Case </label>
        </div>
        <div class="form-check form-check-custom form-check-solid mb-4">
          <input
            class="form-check-input"
            type="checkbox"
            value="1"
            id="containWord"
            formControlName="containWord"
          />
          <label class="form-check-label" for="containWord">
            Contain Word
          </label>
        </div>
      </form>
    </div>
    <div class="card-footer text-end">
      <button type="button" class="btn btn-sm btn-light me-2" (click)="close()">
        Cancel
      </button>
      <button type="button" class="btn btn-sm btn-primary" (click)="save()">
        <span [ngClass]="saving ? 'inprogress' : ''">Map</span>
      </button>
      <!-- [disabled]="!autoMapForm.valid || saving"> -->
    </div>
  </div>
</ng-template>
