<div
  class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch"
  id="#kt_header_menu" data-kt-menu="true">

  <!-- Dashboard -->
  <!-- <div class="menu-item me-lg-1" routerLinkActive="active">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/apps/tickets-system/main">
      <span class="menu-title" data-link="/apps/tickets-system/main">
        Projects
      </span></a>
  </div>
  <div class="menu-item me-lg-1" routerLinkActive="active">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/apps/tickets-system/main">
      <span class="menu-title" data-link="/apps/tickets-system/main">
        Export
      </span></a>
  </div> -->
    <div class="menu-item me-4 fs-3">
    <h1 class="d-flex align-items-start flex-column">
      <span class="text-dark fw-bold fs-3 mb-2"> {{atlProjectName}} </span>

      <div class="d-flex justify-content-center align-content-center align-items-center">
        <a href="" class="text-gray-500 text-hover-primary fs-7" id="update-project_toggle">
          <i class="fa-solid fa-edit me-2"></i> Edit
        </a>
        <span class="mx-3 fw-bold text-gray-300">-</span>
        <a href="" class="text-gray-500 text-hover-primary fs-7">
          <i class="fa-solid fa-file-export me-2"></i> Export
        </a>
        <span class="mx-3 fw-bold text-gray-300">-</span>
        <a href="" class="text-gray-500 text-hover-primary fs-7">
          <i class="fa-solid fa-share me-2"></i> Publish as Service
        </a>
      </div>
    </h1>
  </div>


</div>
