<div class="d-flex justify-content-center align-items-center h-100">
  <div class="w-lg-50 text-center">
    <img
      src="./assets/media/backgrounds/add-file.gif"
      class="w-50"
      alt="add-file"
    />
    <h1 class="text-gray-800 fw-semibold fs-2x my-5">
      Please Select Asset Group
    </h1>
    <p class="text-center fw-medium fs-8 text-gray-400 my-lg-3">
      The mapping record is the migration logic from the data source to the
      destination utility network model. it contains all utility
      network-supported functions like containment, assembly, structure
      attachment, 3D, etc.
    </p>
  </div>
</div>
