<!-- begin::Col-->
<div>
  <!--begin::Search-->
  <div class="d-flex align-items-center position-relative my-1">
    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
    <span class="svg-icon svg-icon-1 position-absolute ms-6">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          opacity="0.5"
          x="17.0365"
          y="15.1223"
          width="8.15546"
          height="2"
          rx="1"
          transform="rotate(45 17.0365 15.1223)"
          fill="currentColor"
        ></rect>
        <path
          d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
          fill="currentColor"
        ></path>
      </svg>
    </span>
    <!--end::Svg Icon-->
    <input
      type="text"
      data-kt-user-table-filter="search"
      class="form-control form-control bg-light ps-14"
      placeholder="Search for ATL Project ?"
      (keyup)="handleSearchChange($event)"
    />
  </div>
  <!--end::Search-->
</div>
<div>
  <div
    class="col-lg-12 mb-5"
    *ngFor="let aTLProject of filteredAtlProjects"
    (click)="handleOpenProjectClick(aTLProject.id)"
  >
    <button class="btn-check"></button>
    <!--begin::Option-->

    <label
      class="btn btn-outline btn-outline-dashed btn-active-light-primary p-4 d-flex align-items-center"
    >
      <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
      <span
        [inlineSVG]="
          './assets/media/icons/duotune/splash/project-creation/atl.svg'
        "
        class="svg-icon svg-icon-3hx"
      ></span>
      <!--end::Svg Icon-->
      <!--begin::Info-->
      <span class="d-block fw-semibold text-start">
        <span class="text-dark fw-bold d-block fs-4">{{
          aTLProject.name
        }}</span>
        <span class="text-muted fs-8">{{ aTLProject.description }}</span>
      </span>
      <!--end::Info-->
    </label>
    <!--end::Option-->
  </div>
</div>
<!--end::Col -->
