<div>
  <!--begin::Toolbar-->
  <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column py-1">
      <!--begin::Title-->
      <h1 class="d-flex align-items-start flex-column">
        <span class="text-dark fw-bold fs-1 mb-2"
          >View Execution Plan</span
        >
      </h1>
      <!--end::Title-->
    </div>
    <!--end::Page title-->
  </div>
  <!--end::Toolbar-->

  <div
    class="d-flex justify-content-center align-content-center align-items-center"
  >
    <!--begin::Alert-->
    <div
      class="alert alert-warning w-100 d-flex justify-content-center align-content-center align-items-center p-5"
      *ngIf="mapRecords.length === 0"
    >
      <!--begin::Icon-->
      <span class="svg-icon svg-icon-2hx svg-icon-warning me-3">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            opacity="0.3"
            x="2"
            y="2"
            width="20"
            height="20"
            rx="10"
            fill="currentColor"
          />
          <rect
            x="11"
            y="14"
            width="7"
            height="2"
            rx="1"
            transform="rotate(-90 11 14)"
            fill="currentColor"
          />
          <rect
            x="11"
            y="17"
            width="2"
            height="2"
            rx="1"
            transform="rotate(-90 11 17)"
            fill="currentColor"
          />
        </svg>
      </span>
      <!--end::Icon-->
      <!--begin::Wrapper-->
      <div class="d-flex flex-column">
        <!--begin::Title-->
        <h4 class="text-warning mb-0">No Mapping Records Found</h4>
        <!--end::Title-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Alert-->
  </div>

  <div class="row gy-5 g-xl-8" *ngIf="mapRecords.length > 0">
    <!--begin::Col-->
    <div class="col-xxl-12" *ngFor="let mapRecord of mapRecords">
      <div class="card card-xxl-stretch">
        <div class="card-body py-1">
          <div
            class="d-flex justify-content-between align-items-center flex-sm-nowrap"
          >
            <div class="me-5 text-gray-200 fs-5hx fw-bolder text-left mb-10">
              {{ mapRecord.order }}
            </div>
            <div class="flex-grow-1 pb-10">
              <!--begin::Title-->
              <h4 class="mb-1 text-dark">
                {{ mapRecord.dataSource?.name }}
                <span class="badge badge-light-success">Active</span>
              </h4>
              <!--end::Title-->
              <!--begin::Content-->
              <div class="text-muted fw-semibold">
                {{ mapRecord.sourceDataJson.dataSourceEntityName }}
              </div>
              <span class="text-muted fw-semibold">{{
                mapRecord.sourceDataJson.whereClause
              }}</span>
              <!--end::Content-->
            </div>
            <div
              class="d-flex justify-content-center align-content-center align-items-center"
            >
              <!--begin::Content-->
              <div class="d-flex align-items-center text-muted fw-semibold">
                <span class="svg-icon svg-icon-muted svg-icon-2hx"
                  ><svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="4.36396"
                      y="11.364"
                      width="16"
                      height="2"
                      rx="1"
                      fill="currentColor"
                    />
                  </svg>
                </span>
                {{
                  mapRecord.mapMode === MapModeEnum.insert ? "Insert" : "Update"
                }}

                <span class="svg-icon svg-icon-muted svg-icon-2hx"
                  ><svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      opacity="0.5"
                      x="18"
                      y="13"
                      width="13"
                      height="2"
                      rx="1"
                      transform="rotate(-180 18 13)"
                      fill="currentColor"
                    />
                    <path
                      d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                      fill="currentColor"
                    />
                  </svg>
                </span>
              </div>

              <h4 class="mb-1 text-dark mx-10">
                {{ mapRecord.destinationNetworkJson.assetTypeName }}
              </h4>

              <!--end::Content-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Col-->
  </div>
</div>
