<div [ngClass]="schemaConnected ? 'd-none' : ''">
  <div class="d-flex justify-content-between align-items-center my-5">
    <!--begin::Title-->
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bold fs-3 mb-1">Data Sources</span>
    </h3>
    <!--end::Title-->
  </div>
  <div
    class="d-flex justify-content-center align-items-center max-h-350px h-350px"
  >
    <div class="row">
      <div class="col-4 mb-4">
        <div
          class="btn btn-outline btn-outline-dashed btn-active-light-primary h-xl-150px h-100 w-100 d-flex align-content-center justify-content-center align-items-center"
          style="border: 1px dashed #93278f !important"
          (click)="openSchema()"
        >
          <div>
            <div class="text-gray-800 d-flex flex-column cursor-pointer">
              <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
              <span
                [inlineSVG]="
                  './assets/media/icons/duotune/files/file-schema.svg'
                "
                class="svg-icon svg-icon-5x mb-3 me-0"
              ></span>
              <!--end::Svg Icon-->
            </div>
            <!-- <div class="fs-5 fw-bold">Schema (.xml)</div> -->
            <div class="fs-5 fw-bold">Geodatabase (.gdb)</div>
          </div>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div
          class="btn btn-outline btn-outline-dashed btn-active-light-primary h-xl-150px h-100 w-100 d-flex align-content-center justify-content-center align-items-center"
          style="border: 1px dashed #93278f !important"
          (click)="openGDB()"
        >
          <div>
            <div class="text-gray-800 d-flex flex-column cursor-pointer">
              <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
              <span
                [inlineSVG]="'./assets/media/icons/duotune/files/file-gdb.svg'"
                class="svg-icon svg-icon-5x mb-3 me-0"
              ></span>
              <!--end::Svg Icon-->
            </div>
            <div class="fs-5 fw-bold">Schema (.xml)</div>

            <!-- <div class="fs-5 fw-bold">Geodatabase (.gdb)</div> -->
          </div>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div
          class="btn btn-outline btn-outline-dashed btn-active-light-primary h-xl-150px h-100 w-100 d-flex align-content-center justify-content-center align-items-center"
          style="border: 1px dashed #93278f !important"
          (click)="openShape()"
        >
          <div>
            <div class="text-gray-800 d-flex flex-column cursor-pointer">
              <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
              <span
                [inlineSVG]="
                  './assets/media/icons/duotune/files/file-shape.svg'
                "
                class="svg-icon svg-icon-5x mb-3 me-0"
              ></span>
              <!--end::Svg Icon-->
            </div>
            <div class="fs-5 fw-bold">Shape File</div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div
          class="btn btn-outline btn-outline-dashed btn-active-light-primary h-xl-150px h-100 w-100 d-flex align-content-center justify-content-center align-items-center"
          style="border: 1px dashed #93278f !important"
          (click)="openCAD()"
        >
          <div>
            <div class="text-gray-800 d-flex flex-column cursor-pointer">
              <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
              <span
                [inlineSVG]="'./assets/media/icons/duotune/files/file-cad.svg'"
                class="svg-icon svg-icon-5x mb-3 me-0"
              ></span>
              <!--end::Svg Icon-->
            </div>
            <div class="fs-5 fw-bold">CAD File</div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div
          class="btn btn-outline btn-outline-dashed btn-active-light-primary h-xl-150px h-100 w-100 d-flex align-content-center justify-content-center align-items-center"
          style="border: 1px dashed #93278f !important"
          (click)="openOracle()"
        >
          <div>
            <div class="text-gray-800 d-flex flex-column cursor-pointer">
              <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
              <span
                [inlineSVG]="
                  './assets/media/icons/duotune/files/file-oracle.svg'
                "
                class="svg-icon svg-icon-5x mb-3 me-0"
              ></span>
              <!--end::Svg Icon-->
            </div>
            <div class="fs-5 fw-bold">Oracle DB</div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div
          class="btn btn-outline btn-outline-dashed btn-active-light-primary h-xl-150px h-100 w-100 d-flex align-content-center justify-content-center align-items-center"
          style="border: 1px dashed #93278f !important"
          (click)="openSQL()"
        >
          <div>
            <div class="text-gray-800 d-flex flex-column cursor-pointer">
              <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
              <span
                [inlineSVG]="'./assets/media/icons/duotune/files/file-sql.svg'"
                class="svg-icon svg-icon-5x mb-3 me-0"
              ></span>
              <!--end::Svg Icon-->
            </div>
            <div class="fs-5 fw-bold">SQL Server DB</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="schemaConnected ? '' : 'd-none'">
  <div class="d-flex justify-content-between align-items-center my-5">
    <!--begin::Title-->
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bold fs-3 mb-1">Data Sources</span>
    </h3>
    <!--end::Title-->

    <!--begin::Toolbar-->
    <div class="card-toolbar">
      <a
        class="btn btn-flex btn-sm btn-light fw-bold border-0 fs-6"
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
        placement="top"
        ngbTooltip="Add New Source"
      >
        <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
        <span class="svg-icon svg-icon-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M11 13H7C6.4 13 6 12.6 6 12C6 11.4 6.4 11 7 11H11V13ZM17 11H13V13H17C17.6 13 18 12.6 18 12C18 11.4 17.6 11 17 11Z"
              fill="currentColor"
            />
            <path
              d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM17 11H13V7C13 6.4 12.6 6 12 6C11.4 6 11 6.4 11 7V11H7C6.4 11 6 11.4 6 12C6 12.6 6.4 13 7 13H11V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V13H17C17.6 13 18 12.6 18 12C18 11.4 17.6 11 17 11Z"
              fill="currentColor"
            />
          </svg>
        </span>
        <!--end::Svg Icon-->Add Source
      </a>
      <!--begin::Menu 3-->
      <div
        class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3"
        data-kt-menu="true"
      >
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            class="menu-link px-3 btn btn-sm btn-active-light-primary btn btn-active-light-primary"
            (click)="openSchema()"
          >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/source-types/gdb.svg'"
              class="svg-icon svg-icon-2x me-2"
            ></span>
            Geodatabase (.gdb)</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            class="menu-link px-3 btn btn-sm btn-active-light-primary btn btn-active-light-primary"
            (click)="openGDB()"
          >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/source-types/xml.svg'"
              class="svg-icon svg-icon-2x me-2"
            ></span
            >Schema (XML)</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            class="menu-link px-3 btn btn-sm btn-active-light-primary btn btn-active-light-primary"
            (click)="openCAD()"
          >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/source-types/cad.svg'"
              class="svg-icon svg-icon-2x me-2"
            ></span
            >CAD File</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            class="menu-link px-3 btn btn-sm btn-active-light-primary btn btn-active-light-primary"
            (click)="openShape()"
          >
            <span
              [inlineSVG]="
                './assets/media/icons/duotune/source-types/shape.svg'
              "
              class="svg-icon svg-icon-2x me-2"
            ></span
            >Shape File</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            class="menu-link px-3 btn btn-sm btn-active-light-primary btn btn-active-light-primary"
            (click)="openOracle()"
          >
            <span
              [inlineSVG]="
                './assets/media/icons/duotune/source-types/oracle.svg'
              "
              class="svg-icon svg-icon-2x me-2"
            ></span
            >Oracle DB</a
          >
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a
            class="menu-link px-3 btn btn-sm btn-active-light-primary btn btn-active-light-primary"
            (click)="openSchema()"
          >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/source-types/sql.svg'"
              class="svg-icon svg-icon-2x me-2"
            ></span
            >SQL DB</a
          >
        </div>
        <!--end::Menu item-->
      </div>
      <!--end::Menu 3-->
    </div>
    <!--end::Toolbar-->
  </div>
  <div class="card-scroll px-3 max-h-350px h-350px">
    <div
      class="card mb-4"
      style="border: 1px solid #93278f6b !important"
      *ngFor="let Schema of addSchemaToATLResponce"
    >
      <!--begin::Card body-->
      <div class="card-body py-4">
        <!--begin::Details-->
        <div class="d-flex flex-wrap align-items-center flex-sm-nowrap">
          <!--begin::Wrapper-->
          <div class="flex-grow-1">
            <!--begin::Head-->
            <div
              class="d-flex justify-content-between align-items-center align-content-center flex-wrap"
            >
              <div
                class="d-flex flex-wrap align-items-start flex-sm-nowrap flex-column grow-1"
              >
                <!--begin::Title-->
                <h4 class="mb-5 text-dark fs-5">
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/source-types/gdb.svg'
                    "
                    class="svg-icon svg-icon-primary svg-icon-2x me-1"
                  ></span>
                  {{ Schema.dataSource.name }}
                </h4>
                <!--end::Title-->
                <!--begin::Row-->

                <div class="d-flex align-items-center mb-2">
                  <!--begin::Icon-->
                  <i class="fa-solid fa-table-list me-4"></i>
                  <!--end::Icon-->
                  <!--begin::Label-->
                  <div class="text-gray-600 fw-semibold fs-6">
                    No. of Tables
                    <span class="fw-bold text-primary"
                      >({{ Schema.dataSource.tablesCount }})</span
                    >
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="d-flex align-items-center">
                  <!--begin::Icon-->
                  <span
                    [inlineSVG]="
                      './assets/media/icons//duotune/aside/featureclass.svg'
                    "
                    class="svg-icon svg-icon-2 me-3"
                  ></span>
                  <!--end::Icon-->
                  <!--begin::Label-->
                  <div class="text-gray-600 fw-semibold fs-6">
                    No. of Feature Classes
                    <span class="fw-bold text-primary"
                      >({{ Schema.dataSource.featureClassesCount }})</span
                    >
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Row-->
              </div>

              <!--begin::Actions-->
              <div class="d-flex">
                <a
                  class="btn btn-icon btn-sm btn-bg-light btn-active-color-primary me-2"
                  placement="top"
                  ngbTooltip="View Catalog"
                  (click)="
                    openViewCatalog(Schema.dataSource.dataSourceSchemaJson)
                  "
                >
                  <span
                    [inlineSVG]="'./assets/media/icons/duotune/text/txt009.svg'"
                    class="svg-icon svg-icon-2"
                  ></span>
                  <!--end::Svg Icon-->
                </a>

                <a
                  class="btn btn-icon btn-sm btn-bg-light btn-active-color-primary"
                  placement="top"
                  ngbTooltip="Disconnect"
                  (click)="
                    handleDisconnectDataSource(
                      Schema.dataSource.id,
                      Schema.dataSource.name,
                      Schema.hasMapRecord
                    )
                  "
                >
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/coding/cod008.svg'
                    "
                    class="svg-icon svg-icon-2"
                  ></span>
                  <!--end::Svg Icon-->
                </a>
              </div>
              <!--end::Actions-->

              <!--begin::Actions-->

              <!--end::Head-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Details-->
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Card-->
    </div>
  </div>
</div>

<!-- childrens -->
<app-schema-data-source
  #schemaDataSource
  (connectSchema)="handleSchemaConnect()"
></app-schema-data-source>

<app-view-catalog #viewCatalog></app-view-catalog>
