<ng-template let-modal #connectToUnd>
  <div class="card shadow-sm">
    <div class="card-header">
      <h3 class="card-title">Connect to UND Project</h3>
      <div class="card-toolbar">
        <!--begin::Close-->
        <div
          class="btn btn-icon btn-sm btn-active-light ms-2"
          (click)="close()"
        >
          <span class="svg-icon svg-icon-muted svg-icon-1"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                opacity="0.5"
                x="7.05025"
                y="15.5356"
                width="12"
                height="2"
                rx="1"
                transform="rotate(-45 7.05025 15.5356)"
                fill="currentColor"
              />
              <rect
                x="8.46447"
                y="7.05029"
                width="12"
                height="2"
                rx="1"
                transform="rotate(45 8.46447 7.05029)"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-12 mb-4">
            <div class="card-title">
              <!--begin::Search-->
              <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      opacity="0.5"
                      x="17.0365"
                      y="15.1223"
                      width="8.15546"
                      height="2"
                      rx="1"
                      transform="rotate(45 17.0365 15.1223)"
                      fill="currentColor"
                    ></rect>
                    <path
                      d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </span>
                <!--end::Svg Icon-->
                <input
                  type="text"
                  data-kt-user-table-filter="search"
                  class="form-control form-control-solid ps-14"
                  placeholder="Search for UND Project ?"
                  (keyup)="handleSearchChange($event)"
                />
              </div>
              <!--end::Search-->
            </div>
          </div>
        </div>
        <div class="card-scroll h-400px max-h-400px">
          <div class="col-12" *ngFor="let uNDProject of filteredUNDProjects">
            <!--begin::Option-->
            <input
              type="radio"
              class="btn-check"
              name="undProject"
              id="{{ uNDProject.id }}"
            />
            <label
              class="und-style btn btn-outline btn-outline-dashed btn-active-light p-5 d-flex align-items-center mb-5"
              for="{{ uNDProject.id }}"
              (click)="handleSelectUND(uNDProject.id)"
            >
              <!--begin::Svg Icon | path: icons/duotune/coding/cod001.svg-->
              <span
                [inlineSVG]="
                  './assets/media/icons/duotune/splash/project-creation/und.svg'
                "
                class="svg-icon svg-icon-3x me-5"
              ></span>
              <span class="flex-column d-flex fw-semibold text-start">
                <span class="text-dark fw-bold d-block fs-4"
                  >{{ uNDProject.name }}
                  <span class="text-muted fw-semibold fs-8"
                    >{{ uNDProject.arcGISVersion }}
                  </span>
                </span>
                <span class="text-muted fw-semibold fs-8">
                  {{ uNDProject.description }}
                </span>
              </span>
            </label>
            <!--end::Option-->
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-end">
      <button type="button" class="btn btn-sm btn-light me-2" (click)="close()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-sm"
        style="background-color: #009ef7; color: #fff"
        (keyup.enter)="handleConnectCLick()"
        (click)="handleConnectCLick()"
        [disabled]="!selectedUNDId || saving"
      >
        <span [ngClass]="saving ? 'inprogress' : ''">Connect</span>
      </button>
    </div>
  </div>
</ng-template>
