<div
  [ngClass]="footerContainerCssClasses"
  class="d-flex flex-column flex-md-row flex-stack"
>
  <!-- begin::Copyright  -->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-bold me-2">{{ currentDateStr }} &copy;</span>
    <a class="text-gray-800"> Quality Standards for Information Technology </a>
  </div>
  <!-- end::Copyright  -->

  <!-- begin::Nav  -->
  <div class="text-dark order-1">
    <span class="text-muted fw-bold">Version 1.0.1.006</span>
  </div>
  
</div>
